<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Practica fullstack</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']">Cubos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Marcas</a>
                        <ul class="dropdown-menu" *ngIf="marcas">
                            @for(marca of marcas; track marca){
                                <li>
                                    <a class="dropdown-item" [routerLink]="['/cubosmarca', marca]">{{marca}}</a>
                                </li>
                            }
                        </ul>
                    </li>
                    @if(sesion == false){
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/login']">Login</a>
                        </li>
                    } @else {
                        <li class="nav-item">
                            <a class="nav-link" (click)="cerrarSesion()">Cerrar sesion</a>
                        </li>
                    }
                    <li class="nav-item" *ngIf="sesion">
                        <a class="nav-link" [routerLink]="['/perfil']">Perfil</a>
                    </li>
                    <li class="nav-item" *ngIf="sesion">
                        <a class="nav-link" [routerLink]="['/compras']">Compras</a>
                    </li>
                    <li class="nav-item" *ngIf="sesion">
                        <a class="nav-link" [routerLink]="['/realizarcompra']">Realizar compra</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>